.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #e6f7ff, #ffffff);
  background-color: #f5f5f5;
  margin: 0;
}
  .login-form {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}
  .login-form h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  text-align: center;
}
  .form-group {
  margin-bottom: 15px;
}
  .form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}
  .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
  .login-button {
  width: 48%;
  padding: 10px 15px;
  background-color: #0e8b2d54;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  .signup-button {
  width: 48%;
  padding: 10px 15px;
  background-color: #00ff8038;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  .login-button:hover {
  background-color: #00b32754;
}

.signup-button:hover {
  background-color: #0056b3;
}